html, body {
  height:  100%;
  width:  100%;
}

body {
  background-color: #b6f5f9;
}

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullscreen h1 {
  color: #0c959e;
  font-family:  Verdana, sans-serif;
  font-size: 6rem;
  z-index: 2;
}

.fish {
  position:  absolute;
  top:  0;
  left:  0;

  height: 50px;
  width: 100px;

  transition: rotate .1s ease-in-out;
}

.fish img {
  height:  inherit;
  width:  inherit;
  animation: swim 5s linear infinite;
}

@keyframes swim {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(5px, -5px);
  }
  50% {
    transform: translate(-5px, 5px);
  }
  75% {
    transform: translate(-5px, -5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}